<h5 class="header center" id="titulo">Cilindro</h5>
    <div class="content" id=texto>
     <p class="text" id="texto2" > <img class="responsive-img"  src="img/GS/cilindro1.png"></p>
      	<p class="text" text-aling="justify" > Através da figura acima, é possível obter as seguintes características:</p>
	   
        <p class="text" id="texto" ><b>1.</b> Apresenta duas superfícies circulares de raios congruentes, que se situam em planos paralelos;</p>
        <p class="text" id="texto" ><b>2.</b> Sua superfície lateral é constituída de todos os segmentos congruentes que têm extremidades nas circunferências dos círculos e são paralelos à reta que contém os centros desses círculos.</p>

        <p class="text" text-aling="justify" >Considere um círculo de centro O e raio r, num plano α, e um segmento de reta <i class="sublinhado">PQ</i>, cuja reta suporte intercepta &alpha;.</p>
        <p class="text" text-aling="justify" >Usando segmentos de reta paralelos e congruentes a <i class="sublinhado">PQ</i>,  cada um deles com uma extremidade nos pontos do círculo e todos com a outra extremidade num mesmo semi-espaço dos determinados por &alpha;.</p>
        <p class="text" text-aling="justify" >A reunião de todos esses segmentos é um sólido chamado cilindro circular (ou simplesmente, cilindro).</p>
        <p class="text" id="texto2" > <img class="responsive-img" src="img/GS/cilindro.png"></p>
        <h5 class="header center" id="titulo">Elementos</h5>
        <p class="text" text-aling="justify" > No cilindro representado ao lado, temos: </p>
         <p class="text" id="texto" ><b>1.</b> Os círculos de centros O e O’ e raio r, situados em planos paralelos, chamados bases do cilindro;</p>
        <p class="text" id="texto" ><b>2.</b> Os segmentos paralelos a OO’, com extremidades em pontos das circunferências das bases, chamados geratrizes do cilindro;</p>
        <p class="text" id="texto" ><b>3.</b> A reta OO' , que é o eixo do cilindro;</p>
        <p class="text" id="texto" ><b>4.</b> A distância h, entre os planos das bases, que é a altura do cilindro.</p>
        <p class="text" id="texto2" > <img class="responsive-img"  src="img/GS/cilindroElementos.png"></p>

        <h5 class="header center" id="titulo">Classificação</h5>
        <p class="text" text-aling="justify" >Um cilindro classifica-se em:</p>
        <p class="text" id="texto" ><b>1.</b> Cilindro oblíquo: geratriz é oblíqua às bases;</p>
        <p class="text" id="texto" ><b>2.</b> Cilindro reto: geratriz é perpendicular às bases.</p>
         <p class="text" id="texto2" > <img class="responsive-img" src="img/GS/cilindroClassificacao.png"></p>

        <h5 class="header center" id="titulo">Áreas e volume</h5>
        <p class="text" text-aling="justify" >Um cilindro classifica-se em:</p>
        <p class="text" id="texto3" >Área da base (A<i class="pequeno">b</i>)</p>
        <p class="text" id="texto3" >A<i class="pequeno">b</i> = πr²</p>
        <p class="text" id="texto3" >Área lateral (A<i class="pequeno">l</i>)</p>
        <p class="text" id="texto" >Dá-se o nome de área lateral à área de um retângulo de base 2πr, em que r é o raio do cilindro e h é a altura do cilindro.</p>
        <p class="text" id="texto2" > <img class="responsive-img" src="img/GS/cilindroAreaLateral.png"></p>
        <p class="text" id="texto3" >A<i class="pequeno">b</i> = 2πrh</p>
        <p class="text" id="texto3" >Área  total (A<i class="pequeno">t</i>)</p>
        <p class="text" id="texto" >A superfície total de um cilindro é a reunião da superfície lateral com os círculos das bases.</p>
        <p class="text" id="texto3" >A<i class="pequeno">t</i> = 2πr (h + r)</p>
        <p class="text" id="texto3" >Volume (V)</p>
        <p class="text" id="texto" >O volume de um cilindro é obtido da mesma forma que o volume de um prisma.</p>
        <p class="text" id="texto3" >V = πr²h</p>

        <h5 class="header center" id="titulo">Seção meridiana e cilindro equilátero</h5>
        <p class="text" text-aling="justify" >Seção meridiana de um cilindro é a interseção deste com um plano que contém o segmento  <i class="sublinhado">OO'</i>.</p>  
        <p class="text" id="texto" ><b>1.</b> A seção meridiana de um cilindro oblíquo é um paralelogramo.</p>
        <p class="text" id="texto" ><b>2.</b> A seção meridiana de um cilindro reto é um retângulo</p>
        <p class="text" id="texto2" > <img class="responsive-img" src="img/GS/secaoMeridianaCilindroEquilatero.png"></p>
        <p class="text" text-aling="justify" >O <b>cilindro equilátero</b> é um cilindro cuja seção meridiana é um quadrado. Vejamos suas fórmulas:</p>
         <p class="text" id="texto2" > <img class="responsive-img" src="img/GS/cilindroEuilatero.png"></p>
        <p class="text" id="texto3" >Área lateral</p>
        <p class="text" id="texto2" >A<i class="pequeno">l</i>  = 4πr²</p>
        <p class="text" id="texto3" >Área total</p>
        <p class="text" id="texto2" >A<i class="pequeno">t</i>  = 6π²</p>
        <p class="text" id="texto3" >Volume</p>
        <p class="text" id="texto2" >V = 2πr³</p>
        <br>                 		
</div>
