<h5 class="header center" id="titulo">Esfera</h5>
    <div class="content" id=texto>
        <p class="text" text-aling="justify" > O estudo da esfera remonta a uma época muito antiga. </p>
        <p class="text" text-aling="justify" >Segundo historiadores, Arquimedes (287-212 a.C.) aparece como o primeiro a escrever um tratado sobre a esfera e cilindro, no qual ele estabelece relações entre as áreas e os volumes dos dois sólidos.</p>
        <p class="text" text-aling="justify" > Dados um ponto O e um segmento de comprimento r:</p>
        <p class="text" id="texto" ><b>1.</b> Uma superfície esférica de centro O e raio r é o conjunto dos pontos do espaço que distam r do ponto O;</p>
        <p class="text" id="texto" ><b>2.</b> Uma esfera de centro O e raio r é o conjunto dos pontos do espaço cujas distância ao ponto O é menor ou igual a r.</p>
        <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/GS/esfera.png"></p>

		<h5 class="header center" id="subtitulo">Elementos</h5>
		<p class="text" text-aling="justify" >A nomenclatura se baseia no formato da terra, por ser considerada aproximadamente uma esfera:</p>
        <p class="text" id="texto" ><b>1.</b> Polo (P1 e P2): São as interseções da superfície com o eixo.</p>
        <p class="text" id="texto" ><b>2.</b> Equador: é a seção (circunferência) perpendicular ao eixo, pelo centro da superfície.</p>
        <p class="text" id="texto" ><b>3.</b> Paralelo: é uma seção perpendicular ao eixo. É “paralela” ao equador.</p>
        <p class="text" id="texto" ><b>4.</b> Meridiano: é uma seção cujo plano passa pelo eixo.</p>

        <h5 class="header center" id="subtitulo">Seção da esfera</h5>
        <p class="text" id="texto2" ><img class="responsive-img" id="center" src="img/GS/secaoEsfera.png"></p>
        <p class="text" id="texto2" >Toda seção plana de uma esfera é um círculo.</p>

        <h5 class="header center" id="subtitulo">Área e volume</h5>
        <p class="text" id="texto3" >Área da esfera</p>
        <p class="text" id="texto2" >A = 4πr²</p>
        <p class="text" id="texto3" > Volume da esfera</p>
        <p class="text" id="texto2" > A = <img class="responsive-img" id="center" src="img/expre/volumeEsfera.svg"></p>

        <h5 class="header center" id="subtitulo">Partes da esfera</h5>
        <p class="text" text-aling="justify" >É a superfície gerada pela rotação de uma semicircunferência, a qual gira α graus (00 3600) em torno do eixo que contém seu diâmetro.</p>
        <p class="text" text-aling="justify" >Quando α é dobrada, a área do fuso é dobrada e assim por diante. No caso de α = 3600, o fuso transforma-se na superfície da esfera, cuja área é A = πr².</p>
        <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/GS/esferaFusoEsfericoParte1.png"></p>
        <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/GS/esferaFusoEsfericoParte2.png"></p>
        <p class="text" id="textoNegrito" >Para α em graus </p>
        <p class="text" id="textoNegrito" >Para α em radianos</p>
        <p class="text" id="texto2" >360° ------ 4 π 3²</p>
        <p class="text" id="texto2" >2 πrad ------- 4 πr²</p>
        <br>
        <p class="text" id="textoNegrito" >α° ------- A<i class="pequeno">fuso</i> </p>
        <p class="text" id="textoNegrito" >αrad  ------- A<i class="pequeno">fuso</i></p>
        <p class="text" id="texto2" >A<i class="pequeno">fuso</i> = <img class="responsive-img" id="center" src="img/expre/afuso.svg"></p>
        <p class="text" id="texto2" >A<i class="pequeno">fuso</i> =  2r² α</p>

        <h5 class="header center" id="subtitulo">Cunha esférica</h5>
        <p class="text" text-aling="justify" >Dá-se esse nome ao sólido gerado pela rotação de um semicírculo que gira α graus (00 3600) em torno do eixo que contém seu diâmetro.</p>
        <p class="text" id="texto2" ><img class="responsive-img" id="center" src="img/GS/esferaCunhaEsferica.png"></p>
        <p class="text" id="texto2" ><b>Obs.:</b> Se α é dobrado, o volume da cunha esférica também é dobrado, e assim por diante.</p>
        <p class="text" text-aling="justify" >Se α = 3600, a cunha esférica transforma-se em uma esfera.</p>
        <p class="text" id="texto3" >Volume da cunha da esférica</p>
        <p class="text" text-aling="justify" >O volume da cunha da esfera é proporcional a α.</p>

        <p class="text" id="textoNegrito" >Para α em graus </p>
        <p class="text" id="textoNegrito" >Para α em radianos</p>
        <p class="text" id="texto2" >360° ------ <img class="responsive-img" id="center" src="img/expre/volumeCunha.svg"></p>
        <p class="text" id="texto2" >2 πrad -------<img class="responsive-img" id="center" src="img/expre/volumeCunha.svg"></p>

        <p class="text" id="textoNegrito" >α° ------- V<i class="pequeno">cunha</i> </p>
        <p class="text" id="textoNegrito" >αrad  ------- V<i class="pequeno">cunha</i></p>
        <p class="text" id="texto2" >V<i class="pequeno">cunha</i> = <img class="responsive-img" id="center" src="img/expre/volimecunhaGraus.svg"></p>
        <p class="text" id="texto2" >V<i class="pequeno">cunha</i> =  <img class="responsive-img" id="center" src="img/expre/volumeCunhaRadio.svg"></p>

        <h5 class="header center" id="subtitulo">Área total da cunha esférica</h5>
        <p class="text" text-aling="justify" >A área total da cunha esférica é igual à soma da área do fuso esférico com a área de um círculo de raio r.</p>
        <p class="text" id="textoNegrito" >A<i class="pequeno">t</i> = A<i class="pequeno">fuso</i> + A<i class="pequeno">círculo</i></p>
        <br>



        



    </div>