<h5 class="header center" id="titulo">Pirâmide</h5>
    <div class="content" id=texto>
      	<p class="text" text-aling="justify" >Considere um polígono num plano e um ponto V fora de . Tomemos segmentos de reta, cada um com uma extremidade em V e a outra num ponto do polígono: a reunião desses segmentos é um sólido chamado pirâmide. </p>
	    <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/GS/piramede.png"></p>
      
        <h5 class="header center" id="titulo">Elementos</h5>
        <p class="text" text-aling="justify" > Considerando a pirâmide VABCDE, representada ao lado: </p>
        <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/GS/piramideElementos.png"></p>
        <p class="text" id="texto" ><b>1.</b> V é o vértice da imagem; </p>
        <p class="text" id="texto" ><b>2.</b> O polígono ABCDE é a base da pirâmide;</p>
        <p class="text" id="texto" ><b>3.</b> Os lados <i class="sublinhado">AB</i>,<i class="sublinhado">BC</i>, <i class="sublinhado">CD</i>, <i class="sublinhado">DE</i>, e <i class="sublinhado">EA</i> são arestas das da base;</p> 
        <p class="text" id="texto" ><b>4.</b> Os segmentos <i class="sublinhado">VA</i>,<i class="sublinhado">VB</i>, <i class="sublinhado">VC</i>, <i class="sublinhado">VD</i>, e <i class="sublinhado">VE</i> são arestas laterais;</p> 
        <p class="text" id="texto" ><b>5.</b> Os triângulos VAB, VBC, VCD, VDE, e VEA são as faces laterais.</p> 
        <p class="text" id="texto" ><b>6.</b> A distância de V ao plano da base é a altura da pirâmide;</p>  
        
        <h5 class="header center" id="titulo">Classificação</h5>  
        <p class="text" text-aling="justify" > As pirâmides são classificadas de acordo com suas bases.</p>

        <h5 class="header center" id="titulo">Pirâmide regular</h5>  
        <p class="text" text-aling="justify" > A pirâmide regular é aquela cuja base é um polígono regular e cujas arestas laterais são congruentes entre si. Vejamos suas características:</p>  
        <p class="text" id="texto" ><b>1.</b> A projeção ortogonal do vértice sobre o plano da base é o centro da base;</p>
        <p class="text" id="texto" ><b>2.</b> As arestas laterais são congruentes e as faces laterais são triângulos isósceles congruentes;</p>
        <p class="text" id="texto" ><b>3.</b> O apótema da pirâmide regular, indicado por g, é a altura de uma face lateral relativa à aresta da base;</p> 
        <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/GS/piramideRegular.png"></p>
        <p class="text" id="texto3" >Relação notável</p> 
        <p class="text" id="texto" >Notemos que em qualquer pirâmide regular, <b>g² = m² + h².</b></p>
        <p class="text" id="texto" >g = apótema da pirâmide</p>
        <p class="text" id="texto" >m = apótema da base;</p>
        <p class="text" id="texto" >h = altura.</p> 

        <h5 class="header center" id="titulo">Áreas e volume</h5>
        <p class="text" id="texto3" >Área da base (A<i class="pequeno">b</i>)</p>
        <p class="text" id="texto" >Á área da base da pirâmide é a área do polígono da base.</p>
        <p class="text" id="texto3" >Área lateral (A<i class="pequeno">l</i>)</p>
        <p class="text" id="texto" >Á área lateral é a soma das áreas das faces laterais.</p>
        <p class="text" id="texto3" >Área  total (A<i class="pequeno">t</i>)</p>
        <p class="text" id="texto" >A soma da área da base com a área lateral da pirâmide é igual à área total.</p>
        <p class="text" id="texto3" >Volume (V)</p>
        <p class="text" id="texto" >Em geral, prova-se que o volume de qualquer pirâmide é dado pela fórmula: </p>
        <p class="text" id="texto2" ><img class="responsive-img" id="center" src="img/expre/volumePiramede.svg"></p>

        <h5 class="header center" id="titulo">Tetraedro regular</h5>
        <p class="text" text-aling="justify" >É um pirâmide regular que tem as quatro faces congruentes.</p>
        <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/GS/piramideTetraedroRegular.png"></p>
        <p class="text" id="texto" >As seis arestas são congruentes;</p>
        <p class="text" id="texto" >As faces ABC, ACD, ACD e BCD são triângulos equiláteros, e qualquer uma delas pode ser considerada base do tetraedro regular.</p>

        <p class="text" text-aling="justify" >Vejamos agora suas fórmulas:</p>
        <p class="text" id="texto3" >Área total</p>
        <p class="text" text-aling="justify" >Área total é quatro vezes a área de uma face, que é um triângulo equilátero de lado a: </p>
        <p class="text" id="texto2" >A<i class="pequeno">t</i>  = <img class="responsive-img" id="center" src="img/expre/piramedeAreaTotal.svg"></p>

        <p class="text" id="texto3" >Altura</p>
         <p class="text" id="texto2" ><img class="responsive-img" id="center" src="img/GS/tetraedroRegularAltura.png"></p>
        <p class="text" id="texto2" >h = <img class="responsive-img" id="center" src="img/expre/piramedeAltura.svg"></p>

        <p class="text" id="texto3" >Volume</p>
        <p class="text" id="texto2" >V = <img class="responsive-img" id="center" src="img/expre/piramedeVolume.svg"></p>
        <br>


</div>
