<br>
    <div class="content" id=texto>
      	<p id="texto" > A importância do estudo da geometria espacial está na compreensão do mundo real em que vivemos, bem como na aplicação de nossos conhecimentos em matemáticas.
        </p>
	

	<h5 class="header center" id="titulo">Poliedros</h5>
        <br>
   	<p class="text" text-aling="justify" > Tipos de corpos geométricos sólidos.
        </p>
	<br>
	<h5 class="header center" id="titulo">Poliedros convexos</h5>
        <br>
    <p class="text" id="texto"><b>1.</b> A superfície de cada poliedro é formada por polígonos planos, chamados faces do poliedro;</p>
    <p  class="text" id="texto" ><b>2.</b> Os lados dos polígonos são chamados de arestas do poliedro;</p>
    <p  class="text"id="texto" ><b>3.</b> Os vértices dos polígonos são os vértices do poliedro.</p>

    <p class="text" id="texto2" > <img class="responsive-img"  src="img/GS/convexos.png"></p>
      		
<div>

<h5 class="header center" id="titulo">Relação de Euler</h5>
    <div class="content" id=texto>
        <p class="text" text-aling="justify" > Essa relação foi descoberta e demonstrada pelo matemático suíço Leonhard Euler (1707- 1783), daí ser chamada relação de Euler. 
        </p>
        <p class="text" text-aling="justify" > Para todo poliedro convexo vale a seguinte relação:</p>
    <p class="text" id="texto2" > V + F = A + 2</p>
    <p class="text" id="texto" > V = Número de vértices;<br>F = Número de Faces;<br>A = Número de arestas.</p>
        
        <p class="text" id="texto" > Poliedros, para os quais a relação é valida, chamamos de poliedros eulerianos.</p>
        <p class="text" id="texto3" > Exemplos:</p>

        <table>
        <thead>
          <tr>
              <th data-field="id">Poliedros</th>
              <th data-field="name">V</th>
              <th data-field="price">F</th>
              <th data-field="price">A</th>
              <th data-field="price">V + F = A + 2</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Poliedro 1</td>
            <td>6</td>
            <td>8</td>
            <td>12</td>
            <td>6 + 8 = 12 + 2</td>
          </tr>
          <tr>
            <td>Poliedro 2</td>
            <td>10</td>
            <td>7</td>
            <td>15</td>
            <td>10 + 7 = 15 + 2</td>
          </tr>
        </tbody>
      </table>
     <p class="text" id="texto2" >Obs.: Todo poliedro convexo é euleriano, mas nem todo poliedro euleriano é convexo. </p>       

    </div>


   <h5 class="header center" id="titulo">Poliedros de Platão</h5>
<div class="content" id=texto>
        <p class="text" text-aling="justify" > São classificados como poliedros de Platão quando satisfazem três condições:
        </p>
        <p class="text" id="texto" ><b>1.</b> Todas as faces tem o mesmo número de arestas;</p>
        <p class="text" id="texto" ><b>2.</b> Todos os vértices são pontos em que concorre o mesmo número de arestas;</p>
        <p class="text" id="texto" ><b>3.</b> O poliedro é euleriano.</p>
        
<div>


<h5 class="header center" id="titulo">Poliedros Regulares</h5>
    <p class="text" id="texto2" > <img class="responsive-img"  src="img/GS/poliedrosRegulares.gif"></p>
    <div class="content" id=texto>
        <p class="text" text-aling="justify" > São classificados como poliedros convexos regulares quando: </p>
        <p class="text" id="texto" ><b>1.</b> Suas faces são polígonos regulares;</p>
        <p class="text" id="texto" >  <b>2.</b> Em todos os seus vértices concorre o mesmo número de arestas.</p>
        <p class="text" text-aling="justify" > Imediatamente, num poliedro regular, percebe-se: </p>
        <p class="text" id="texto" > <b>1.</b> Todas as faces têm o mesmo número de arestas (pois as faces são congruentes);</p>
        <p class="text" id="texto" > <b>2.</b> Todos os vértices são pontos em que concorre o mesmo número de arestas;</p>
        <p class="text" id="texto" ><b>3.</b> Poliedro é euleriano.</p>      
        
          
</div>
 