<h5 class="header center" id="titulo">Prisma</h5>
    <div class="content" id=texto>
      	
	    <p class="text" id="texto" ><b>1.</b> Suas superfícies são constituídas de polígonos;</p>
        <p class="text" id="texto" ><b>2.</b> Cada um tem pelo menos duas faces contidas em planos paralelos;</p>
        <p class="text" id="texto" ><b>3.</b> Os planos que contêm as outras faces interceptam-se dois a dois em retas paralelas entre si.</p>
   
        <p class="text" text-aling="justify" > Considere dois planos  e β, distintos e paralelos entre si, um polígono convexo P, contido em α, e uma reta r que intercepta α e β nos pontos X e Y. Por todos os pontos de P, tracemos retas paralelas a r. Os pontos de interseção dessas retas com α e β determinam segmentos congruentes ao segmento <i class="sublinhado">XY</i> . A reunião desses segmentos é um sólido que chamamos de prisma.</p>
        <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/GS/prisma.png"></p>

  
        <h5 class="header center" id="titulo">Elementos</h5>
        <br>
        <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/GS/elementosPrisma.png"></p>
        <br>
        <p class="text" id="texto" ><b>1.</b> Os polígonos ABCDE e A’B’C’D’E, chamados bases do prisma, são congruentes e estão situados em planos paralelos entre si; esses planos são os planos da base;</p>
        <p class="text" id="texto" ><b>2.</b> Os lados dos polígonos, <i class="sublinhado">AB</i> ,  <i class="sublinhado">BC</i>, <i class="sublinhado">CD</i>, <i class="sublinhado">DE</i> , <i class="sublinhado">EA</i> , <i class="sublinhado">A'B'</i>, <i class="sublinhado">B'C'</i>, <i class="sublinhado">C'D'</i>, <i class="sublinhado">D'E'</i>, e <i class="sublinhado">E'A'</i> são arestas da base;</p>
        <p class="text" id="texto" ><b>3.</b> Os segmentos <i class="sublinhado">AA'</i>, <i class="sublinhado">BB'</i>, <i class="sublinhado">CC'</i>, <i class="sublinhado">DD'</i> e <i class="sublinhado">EE'</i> são as arestas laterais;</p>
        <p class="text" id="texto" ><b>4.</b> Os paralelogramos AA’B’B, BB’C’C, CC’D’D, DD’E’E e EE’A’A são as faces laterais;</p>
        <p class="text" id="texto" ><b>5.</b> A distância entre os planos &alpha; e &beta; que contêm as bases, é a altura do prisma.</p>
       

        <h5 class="header center" id="titulo">Classificação</h5>
        <p class="text" text-aling="center" > Os prismas são classificados em triangular, quadrangular, etc., conforme a base seja, respectivamente, um triangulo, um quadrilátero, etc.</p>
        <p class="text" text-aling="justify" > Quanto à inclinação das arestas laterais em relação aos planos das bases, os prismas são classificados em: </p>
        <p class="text" id="texto" ><b>1.</b> Prisma oblíquo: arestas laterais oblíquas aos planos das bases;</p>
        <p class="text" id="texto" ><b>2.</b> Prisma reto: arestas laterais perpendiculares aos planos das bases;</p>
        <p class="text" id="texto" ><b>3.</b> Prisma regular: prisma reto cujas bases são polígonos regulares.</p> 
        <br>

    </div>
  

    <h5 class="header center" id="titulo">Paralelepípedo</h5>
  
    <div class="content" id=texto>
        
        <p class="text" text-aling="justify" > São prismas cujas bases são paralelogramos. Um paralelepípedo pode ser: </p>
        <p class="text" id="texto" ><b>1.</b> Oblíquo: a superfície total é a reunião de seis paralelogramos.</p>
        <p class="text" id="texto" ><b>2.</b> Reto: a superfície total é a reunião de quatro retângulos (faces laterais) com dois paralelogramos (bases).</p>
        <p class="text" id="texto" ><b>3.</b> Retângulo: a superfície total é a reunião de seis retângulos.</p>
        <p class="text" id="texto" ><b>4.</b> Cubo: a superfície total é a reunião de seis quadrados.</p>

        <h5 class="header center" id="titulo">Paralelepípedo retângulo – equações</h5>
        <br>
        <p class="text" text-aling="justify" > Considere um dado paralelepípedo: </p>
        <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/GS/paralelepipedoCalculo.png"></p>

       <p class="text" id="texto3" >Cálculo da área total:</p>
       <p class="text" text-aling="justify" >  Planificando o paralelepípedo retângulo, vê-se que sua área total S é a soma dos seis retângulos. Logo:</p>
       <p class="text" id="texto2" >S = 2ab + 2ac + 2bc</p>

        <p class="text" id="texto3" >Cálculo da área lateral:</p>
       <p class="text" text-aling="justify" >   Mediante uma planificação do paralelepípedo retângulo dado, vê-se a sua área total S igual a soma das áreas de seis retângulos, dois a dois congruentes. </p>
       <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/GS/paralelepipedoCalculo1.png"></p>
       <p class="text" id="texto2" >S = 2ab + 2ac + 2bc</p>

       <p class="text" id="texto3" >Cálculo da diagonal:</p>
       <p class="text" text-aling="justify" >  Sejam d a medida da diagonal do paralelepípedo e d1 a medida da diagonal da base, mostradas na figura ao lado. </p>
       <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/GS/paralelepipedoDiagonal.png"></p>
       <p class="text" text-aling="justify" > Observe que os triângulos BAD e D’DB são retângulos:  </p>
       <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/GS/paralelepipedoDiagonal1.png"></p>
       <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/expre/diagonalPrisma.svg"></p>

       <p class="text" id="texto3" >Cálculo do volume:</p>
       <p class="text" text-aling="justify" > O volume V de um paralelepípedo de dimensões a, b e c é dado pela fórmula: </p>
       <p class="text" id="texto2" >V = a * b * c ou V = Ab * h</p>
        
</div>

<h5 class="header center" id="titulo">Cubo</h5>
    <div class="content" id=texto>
        <p class="text" text-aling="justify" > O cubo é um paralelepípedo retângulo cujas seis faces são quadrados. Assim, suas 12 arestas são congruentes entre si. </p>
        <p class="text" id="texto2" > <img class="responsive-img" id="center" src="img/GS/cubo.png"></p>
        <p class="text" id="texto" > Vejamos agora as fórmulas do cubo:</p>
        <p class="text" id="texto" > Área S:</p>
        <p class="text" id="texto2" > S = 6a² </p>
        <p class="text" id="texto" >Diagonal d:</p>
        <p class="text" id="texto2" ><img class="responsive-img" id="center" src="img/expre/diagonalCubo.svg"></p> 
        <p class="text" id="texto" >Volume V:</p>
        <p class="text" id="texto2" >V = A³ </p> 

     
        <h5 class="header center" id="titulo">Áreas e volume de um prisma</h5>  
        <p class="text" id="texto3" > Área da base (A<i class="pequeno">b</i> ):</p> 
        <p class="text" id="texto" > Como a base de um prisma é um polígono, a área da base de um prisma é a área de um polígono.</p> 
        <p class="text" id="texto2" >A<i class="pequeno">b</i>  = bh/2</p> 
        <br>

        <p class="text" id="texto3" > Área lateral (A<i class="pequeno">l</i> ):</p> 
        <p class="text" id="texto" > Como a superfície lateral de um prisma é a reunião de suas faces laterais, então a área dessa superfície é a soma das áreas das faces laterais.</p> 
        <p class="text" id="texto2" >Al = Soma das áreas das faces laterais</p>
        <br> 

        <p class="text" id="texto3" > Área total (A<i class="pequeno">t</i> ):</p> 
        <p class="text" id="texto" > Como a superfície total de um prisma é a reunião da superfície lateral com as bases, a área total de um prisma é dada por:</p> 
        <p class="text" id="texto2" >A<i class="pequeno">t</i>  = A<i class="pequeno">l</i>  + 2 * Ab</p>
        <br> 

        <p class="text" id="texto3" > Volume (V) (A<i class="pequeno">t</i> ):</p> 
        <p class="text" id="texto" > O volume de um prisma é igual ao produto da área da base pela medida da altura.</p> 
        <p class="text" id="texto2" >V = Ab * h</p> 
        <br>

                   
</div>

 

 