<div class="content">
     <h5 class="header center" id="titulo">Sobre</h5>
     <p class="text"  id="texto" > Aplicativo desenvolvido com intuito de ajudar no estudo da geometria espacial do ensino médio. O aplicativo obtem toda parte ateorica com relãção ao assunto, proporcionando um acesso rápdo e intuitivo dessas informações. </p>
     <p class="text"  id="texto" > O app vem também com uma área de ajuda na resolução de certos problemas(por exemplo a área de um paralelogramo), que facilita no momento do estudo/apredizagem. </p>
     <h5 class="header center" id="titulo">Desenvolvedor do aplicativo</h5>

 
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s5">
              <img src="img/img.jpg"  alt="" class="circle responsive-img"/> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
              	<ul>
              		<li> Huggo Santos Oliveira </li>
              	
			        <li style="font-weight: bolder;"> IFBA - Curso superior de Tecnologia  em Analise e Desenvovimento de Sistemas</li>
			        
			        <li>huggo.oliveira1@gmail.com</li>
              	</ul>
               
              </span>
             
            </div>
          </div>
        </div>
      </div>    
</div>
<h5 class="header center" id="titulo">Integrantes do Porojeto</h5>
 <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s5">
              <img src="img/lucas.jpg"  alt="" class="circle responsive-img"/> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
              	<ul>
              		<li> Lucas Cardoso </li>
              	
			        <li style="font-weight: bolder;"> IFBA - Curso Integrado em Informática</li>
			        
			        <li>ky.lucas2013@gmail.com</li>
              	</ul>
               
              </span>
             
            </div>
          </div>
        </div>
      </div>    
</div>

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s5">
              <img src="img/Celso.jpg"  alt="" class="circle responsive-img"/> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
              	<ul>
              		<li> Celso Eduardo </li>
              	
			        <li style="font-weight: bolder;"> Professor em LIcenciatura em Matemática - IFBA</li>
			        
			        <li>celso_ufba@yahoo.com.br </li>
              	</ul>
               
              </span>
             
            </div>
          </div>
        </div>
      </div>    
</div>


 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Obrigado pelo uso</h5>
                <p class="grey-text text-lighten-4">Dúvidas, reclamações ou dicas entra em contato via email com desenvovedores e colaboradores do projeto..</p>
              </div>
             
              </div>
            </div>
          
          <div class="footer-copyright">
            <div class="container">
            © Copyright IFBA
            </div>
          </div>
        </footer>