<h5 class="header center" id="titulo">Troncos</h5>
    <div class="content" id=texto>
    	<p class="text" text-aling="justify" > Vamos determinar expressões que possam calcular tanto a área, quanto volume de troncos de cone e pirâmide. </p>

    	<h5 class="header center" id="subtitulo">Tronco de pirâmide</h5>
    	<p class="text" text-aling="justify" > Utilizando uma figura de pirâmide VABCD, selecionadas por um plano α, que não contém seu vértice. </p>
    	<p class="text" id="texto2" ><img class="responsive-img" id="center" src="img/GS/TroncoPiramide.png"></p>
    	<br>
    	<p class="text" text-aling="justify" > O plano α divide a pirâmide em dois sólidos: uma pirâmide VA’B’C’D’ e um poliedro ABCDA’B’C’D’. Tal poliedro é chamado de tronco de pirâmide.</p>
    	<p class="text" text-aling="justify" >Na figura na qual o plano α é paralelo À base da pirâmide, a seção determinada pela interseção de α com a pirâmide (polígono A’B’C’D’) é chamada seção transversal da pirâmide.</p>
    	<p class="text" text-aling="justify" ><b>Obs.:</b> o estudo dos troncos será apenas com troncos de bases paralelas. </p>

    	<h5 class="header center" id="subtitulo">Elementos</h5> 
    	<p class="text" id="texto2" ><img class="responsive-img" id="center" src="img/GS/TroncoPiramideElementos.png"></p>
    	<p class="text" id="texto" ><b>1. Base maior do tronco:</b> é a base da pirâmide.</p>
        <p class="text" id="texto" ><b>2. Base menor do tronco:</b> é a seção transversal da pirâmide.</p>
        <p class="text" id="texto" ><b>3. Altura do tronco:</b> é a distância entre os planos das bases.</p>
        
        <h5 class="header center" id="subtitulo">Tronco de pirâmide regular</h5> 
        <p class="text" text-aling="justify" >Troncos de bases paralelas obtido de uma pirâmide regular.</p>
        <p class="text" id="texto2" ><img class="responsive-img" id="center" src="img/GS/TroncoPiramideRegular.png"></p>
    	<p class="text" id="texto" ><b>1.</b> Arestas laterais congruentes entre si;</p>
        <p class="text" id="texto" ><b>2.</b> As bases são polígonos regulares semelhantes;</p>
        <p class="text" id="texto" ><b>3.</b> As faces laterais são trapézios isósceles congruentes entre si;</p>
        <p class="text" id="texto" ><b>4.</b> A altura de qualquer face lateral chama-se apótema.</p>

        <h5 class="header center" id="subtitulo">Áreas e volume</h5> 
        <p class="text" id="texto" ><b>Área da base maior (A<i class="pequeno">b</i>):</b> é a áreas de um polígono.</p>
        <p class="text" id="texto" ><b>Área da base menor (A<i class="pequeno">b</i>):</b> é a soma das faces laterais.</p>
        <p class="text" id="texto" ><b>Área total (A<i class="pequeno">t</i>):</b> é a soma das áreas das duas bases com a área lateral.</p>
        <p class="text" id="texto" ><b>Volume (V):</b> O volume de um tronco de pirâmide de bases paralelas é obtido pela diferença entre os volumes de duas pirâmides: a de base B, cuja área é AB, e a de base b, cuja área é A<i class="pequeno">b</i>.</p>
        <p class="text" id="texto2" ><img class="responsive-img" id="center" src="img/expre/volumeTrocoPiramede.svg"></p>


        <h5 class="header center" id="titulo">Tronco de cone</h5> 
        <p class="text" text-aling="justify" > Segue abaixo duas figuras de dois cones que estão secionados por um plano α, que não contém o seu vértice.</p>
        <p class="text" id="texto2" ><img class="responsive-img" id="center" src="img/GS/troncoCone.png"></p>
        <p class="text" text-aling="justify" > O plano α divide o cone em dois sólidos: um cone de vértice V com base em α e um outro sólido que é chamado de tronco de cone.</p>
        <p class="text" text-aling="justify" > Na figura na qual o plano α é paralelo À base do cone, a seção determinada é um círculo O’, e é chamado de seção transversal do cone.</p>
        <p class="text" text-aling="justify" ><b>Obs.:</b> O estudo dos troncos será apenas com troncos de cone circular reto de bases paralelas.</p>

        <h5 class="header center" id="subtitulo">Elementos</h5> 
        <p class="text" id="texto" ><b>1. Base maior do tronco:</b> é a base da cone.</p>
        <p class="text" id="texto" ><b>2. Base menor do tronco:</b> é a seção transversal da cone.</p>
        <p class="text" id="texto" ><b>3. Altura do tronco:</b> É a distância entre os planos das bases.</p>
        <p class="text" id="texto2" ><img class="responsive-img" id="center" src="img/GS/troncoConeElementos.png"></p>
        <p class="text" text-aling="justify" >Observe na figura que a seção determinada pela interseção de um tronco de cone com um plano contém o segmento <i class="sublinhado">OO</i>, determinado pelos centros das bases, é um trapézio isósceles. Ela é chamada de seção meridiana do tronco.</p>
        <p class="text" id="texto2" ><img class="responsive-img" id="center" src="img/GS/troncoConeSecaoTransversal.png"></p>
        
        <h5 class="header center" id="subtitulo">Áreas e volume</h5> 
        <p class="text" id="texto3" > Área da base maior (A<i class="pequeno">B</i>)</p>
        <p class="text" id="texto2" > A<i class="pequeno">B</i> = πR²</p>

         <p class="text" id="texto3" > Área da base menor (A<i class="pequeno">b</i>)</p>
        <p class="text" id="texto2" > A<i class="pequeno">b</i> = πr²</p>

        <p class="text" id="texto3" > Área lateral (A<i class="pequeno">l</i>)</p>
        <p class="text" id="texto" > A superfície lateral de um tronco de cone é a reunião das geratrizes do tronco. A área dessa superfície é a área lateral do cone.</p>
        <p class="text" id="texto2" > A<i class="pequeno">l</i> = π(R + r)g</p>

        <p class="text" id="texto3" > Área  total (A<i class="pequeno">t</i>)</p>        
        <p class="text" id="texto2" > A<i class="pequeno">t</i>=  A<i class="pequeno">B</i> +  A<i class="pequeno">b</i> +  A<i class="pequeno">l</i> </p>

        <p class="text" id="texto3" > Volume (V)</p>
        <p class="text" id="texto" >O volume de um tronco de cone qualquer de bases paralelas é obtido pela diferença entre os volumes de dois cones (o de base B, cuja área da base é  A<i class="pequeno">B</i>, e o de base b, suja área da base é  A<i class="pequeno">b</i>).</p>
        <p class="text" id="texto2" ><img class="responsive-img" id="center" src="img/expre/volumeTrocoCone.svg"></p>






    </div>